.container {
    display: flex;
    align-items: center;
}

.value {
    margin-left: 10px;
}

.label {
    text-transform: capitalize;
}

.detailContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}